@charset "UTF-8";

@font-face {
  font-family: "TTNormsB";
  font-display: swap;
  src: url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTNormsH";
  font-display: swap;
  src: url("../fonts/TTNorms-Heavy.woff") format("woff"), url("../fonts/TTNorms-Heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  font-display: swap;
  src: url("../fonts/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "TTNorms", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "TTNorms", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1125px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.rub:after {
  content: "₽";
}

.bg_blue {
  background: -o-linear-gradient(315deg, #0396ff 0%, #1e2761 100%);
  background: linear-gradient(135deg, #0396ff 0%, #1e2761 100%);
}

.bg_red {
  background: -o-linear-gradient(315deg, #7a2048 0%, #1e2761 100%);
  background: linear-gradient(135deg, #7a2048 0%, #1e2761 100%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__body {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  overflow: auto;
  padding: 20px;
  z-index: 2;
  background-color: #ffffff;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.menu__body.active {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li a {
  margin: 0px 20px 0px 0px;
}

.menu__list li:last-child a {
  margin: 0px 0 0px 0px;
}

.menu__link {
  min-height: 27px;
  font-size: 24px;
  color: #000;
  font-family: "TTNormsB";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 5px 32px;
  border-radius: 20px;
  margin: 0px 0 0px 0px;
}

.icon-menu {
  position: relative;
  top: 25px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.icon-menu span:first-child {
  top: 0;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0;
}

.icon-menu.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(50% - 1px);
}

.footer {
  height: 45px;
  background-color: #000;
}

.page {
  padding: 0px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info-page {
  margin: 0px 0px 3% 0px;
  background: url("../img/bg1920.jpg") 0 0 no-repeat;
}

.info-page__content {
  padding: 258px 0px 0px 0px;
}

.info-page__title {
  font-family: "TTNormsH";
  font-size: calc(54px + 16 * ((100vw - 320px) / 1120));
  margin: 0px 0px 25px 0px;
  opacity: 0;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.info-page__title span {
  font-family: "TTNormsH";
  color: #7c53d2;
}

.info-page__title._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.info-page__description {
  font-size: 32px;
  margin: 0px 0px 15% 0px;
  opacity: 0;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.info-page__description._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.info-page__study {
  display: inline-block;
}

.info-page__columns {
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-page__column {
  margin: 0px 60px 0px 0px;
}

.info-page__column:first-child {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.info-page__column:last-child {
  margin: 0px 0px 0px 0px;
}

.info-page__column:nth-child(2) {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.info-page__column:nth-child(2)._active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.info-page__column:nth-child(3) {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.info-page__column:nth-child(3)._active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.info-page__logo {
  width: 90px;
}

.info-page__logo img {
  max-width: 100%;
}

.info-page__university {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 22px;
  font-family: "TTNormsB";
  letter-spacing: -1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-page__university span {
  font-family: "TTNorms";
  font-size: 16px;
  letter-spacing: 0px;
}

.info-page__university p:nth-child(2) {
  display: none;
}

.works-page {
  margin: 0px 0px 3% 0px;
}

.works-page__title {
  font-family: "TTNormsH";
  font-size: calc(40px + 20 * ((100vw - 320px) / 1120));
  margin: 0px 0px 30px 0px;
  opacity: 0;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.works-page__title._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.works-page__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-page__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.works-page__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-page__column:nth-child(1) {
  margin: 50px 0px 0px 0px;
}

.works-page__column:nth-child(3) {
  margin: 110px 0px 0px 0px;
}

.flip {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
  -webkit-perspective: 1000;
          perspective: 1000;
  cursor: pointer;
  margin: 0px 0px 30px 0px;
}

.flip__body {
  position: relative;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip__front,
.flip__back {
  padding: 50px 30px 30px 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 17px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
}

.flip__front {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 30px;
  margin: 0px 0px 20px 0px;
  max-height: 120px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.flip__description {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-size: 16px;
  color: #f0f0f0;
  margin: 0px 0px 10px 0px;
}

.flip__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flip__label {
  font-family: "TTNormsB";
  font-size: 13px;
  padding: 8px 10px;
  margin: 0px 5px 0px 0px;
  border: 2px solid;
  border-radius: 36px;
  text-transform: uppercase;
}

.flip__label:last-child {
  margin: 0px 0px 0px 0px;
}

.flip__back {
  font-size: 26px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  border: 2px solid black;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/bg.jpg") center 0 no-repeat;
  background: url("../img/cardBack.svg") 0 0/100% 100% no-repeat;
}

.flip__watch {
  border: 2px solid transparent;
  padding: 10px;
  font-size: 26px;
  font-weight: 900;
  margin: 0px 0px 50px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #b4b5b5;
  border-radius: 17px;
  border: 2px dashed;
}

.flip__price {
  border: 2px solid transparent;
  padding: 10px;
  font-size: 26px;
  font-weight: 900;
  margin: 0px 0px 50px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #b4b5b5;
  border-radius: 17px;
  border: 2px dashed;
}

.flip .flip__body .flip__front .flip__title {
  opacity: 0;
  -webkit-transform: translate(-120%);
      -ms-transform: translate(-120%);
          transform: translate(-120%);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.flip .flip__body .flip__front .flip__description {
  opacity: 0;
  -webkit-transform: translate(-120%);
      -ms-transform: translate(-120%);
          transform: translate(-120%);
  -webkit-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.flip .flip__body .flip__front .flip__labels {
  opacity: 0;
  -webkit-transform: translate(-120%);
      -ms-transform: translate(-120%);
          transform: translate(-120%);
  -webkit-transition: all 0.8s ease 0.7s;
  -o-transition: all 0.8s ease 0.7s;
  transition: all 0.8s ease 0.7s;
}

.flip._active .flip__body .flip__front .flip__title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.flip._active .flip__body .flip__front .flip__description {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.flip._active .flip__body .flip__front .flip__labels {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.skills-page {
  margin: 0px 0px 20px 0px;
}

.skills-page__title {
  font-family: "TTNormsH";
  font-size: calc(40px + 20 * ((100vw - 320px) / 1120));
  margin: 0px 0px 30px 0px;
  opacity: 0;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.skills-page__title._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.skills-page__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-page__timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-page__timeline div {
  opacity: 0;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
}

.skills-page__timeline._active div {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.skills-page__timeline._active div:nth-child(1) {
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.skills-page__timeline._active div:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.skills-page__timeline._active div:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.6s;
  -o-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.skills-page__timeline._active div:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.skills-page__timeline._active div:nth-child(5) {
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

.skills-page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translate(-150%, 0);
      -ms-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
}

.skills-page__row._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.skills-page__row._active:nth-child(1) {
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.skills-page__row._active:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.skills-page__row._active:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.6s;
  -o-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.skills-page__row._active:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.skills-page__row._active:nth-child(5) {
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

.skills-page__year {
  color: #d0d0d0;
  font-size: 16px;
  padding: 25px 60px 25px 0px;
  margin: 0px 40px 0px 0px;
  border-right: 1px solid #e3e3e3;
  width: 150px;
}

.skills-page__square {
  width: 55px;
  height: 55px;
  border-radius: 17px;
  margin: 10px 40px 10px 0px;
  background-color: #efefef;
}

.skills-page__skill {
  font-size: 22px;
  font-family: "TTNormsB";
}

.skills-page__info {
  margin: 10px 0px 0px 0px;
}

.skills-page__cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 0px 0px 40px 0px;
  border-bottom: 1px solid #e7e7e7;
}

.skills-page__cvicon {
  width: 70px;
  margin: 0px 30px 0px 0px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.skills-page__cvicon img {
  width: 100%;
}

.skills-page__cvicon._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.skills-page__cvtitle {
  font-size: 22px;
  font-family: "TTNormsB";
  color: black;
}

.skills-page__socials li {
  text-align: center;
  margin: 0px 0px 25px 0px;
  opacity: 0;
  -webkit-transform: translate(150%, 0);
      -ms-transform: translate(150%, 0);
          transform: translate(150%, 0);
}

.skills-page__socials._active li {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.skills-page__socials._active li:nth-child(1) {
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.skills-page__socials._active li:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.skills-page__socials._active li:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.6s;
  -o-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.skills-page__link {
  width: 100%;
  font-size: 24px;
  font-family: "TTNormsB";
}

.skills-page__link_vk {
  color: #3c9aea;
}

.skills-page__link_inst {
  color: #63a613;
}

.skills-page__link_tg {
  color: #1d3e9a;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0, 0) rotateX(0deg);
          transform: perspective(600px) translate(0, 0) rotateX(0deg);
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0, -100%) rotateX(45deg);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__title {
  font-size: calc(28px + 12 * ((100vw - 320px) / 1120));
  margin: 0px 0px 1em 0px;
}

.popup__text {
  font-size: calc(20px + 8 * ((100vw - 320px) / 1120));
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #fff;
    background-color: #7c53d2;
  }

  .info-page__column:first-child:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .works-page__column:nth-child(1) .flip .flip__body {
    height: 450px;
  }

  .works-page__column:nth-child(2) .flip .flip__body {
    height: 570px;
  }

  .works-page__column:nth-child(3) .flip .flip__body {
    height: 430px;
  }

  .flip__watch:hover {
    color: #000;
  }

  .flip__price:hover {
    color: #000;
  }

  .skills-page__cvicon:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (max-width: 991.98px) {
  .info-page__content {
    padding: 20% 0px 0px 0px;
  }

  .info-page__university p:nth-child(1) {
    display: none;
  }

  .info-page__university p:nth-child(2) {
    display: block;
  }

  .works-page__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .works-page__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .works-page__column:nth-child(1) {
    margin: 0 0px 0px 0px;
  }

  .works-page__column:nth-child(3) {
    margin: 0 0px 0px 0px;
  }

  .flip {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0 15px;
  }

  .flip__body {
    min-height: 310px;
  }

  .flip__front,
  .flip__back {
    padding: 40px 20px 20px 30px;
  }

  .flip__watch {
    color: #000;
  }

  .flip__price {
    color: #000;
  }

  .skills-page__title {
    text-align: center;
  }

  .skills-page__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .skills-page__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .skills-page__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .skills-page__socials li {
    margin: 0px 15px 25px 0px;
  }

  .skills-page__socials li:last-child {
    margin: 0px 0 25px 0px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    padding: 0px 10px;
  }

  .info-page__logo {
    width: 60px;
  }

  .works-page__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .skills-page__year {
    padding: 25px 10px 25px 0px;
    width: 120px;
  }
}

@media (max-width: 700px) {
  .menu__link {
    padding: 5px 5px;
    font-size: 22px;
  }
}

@media (max-width: 530px) {
  .menu__body {
    height: 100%;
    top: 0;
    left: 100%;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu__body.active {
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0px 0px 0px;
  }

  .menu__list li {
    margin: 0px 0 30px 0px;
  }

  .menu__list li:last-child {
    margin: 0px 0 0px 0px;
  }

  .skills-page__year {
    margin: 0px 10px 0px 0px;
    padding: 25px 10px 25px 0px;
  }

  .skills-page__square {
    display: none;
  }

  .skills-page__skill {
    margin: 0 0px 0px 10px;
  }
}

@media (max-width: 479.98px) {
  .menu__link {
    margin: 0px 0px 25px 0px;
  }

  .info-page__study {
    display: block;
  }

  .info-page__columns {
    width: 200px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-page__column {
    margin: 0px 0px 20px 0px;
  }

  .info-page__university {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .works-page__title {
    text-align: center;
  }

  .skills-page__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .skills-page__year {
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding: 10px 0px 25px 0px;
    width: 120px;
    border: 0;
  }

  .skills-page__cvtitle {
    font-size: 20px;
  }

  .skills-page__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .skills-page__socials li {
    margin: 0px 0 25px 0px;
  }

  .skills-page__socials li:last-child {
    margin: 0px 0 25px 0px;
  }
}

.webp .info-page{ background: url(../img/bg1920.webp) 0 0 no-repeat; }

.webp .flip__back{ background: url(../img/bg.webp) center 0 no-repeat; }